.main {
    height: 100vh;
    background-image: url(../img/place/bg_login.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    margin-top: -200px;
}
.container.login .form-register {
    display: none;
}
.container.register .form-login {
    display: none;
}
.form-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 40px 80px 0 80px;
    background-color: #fff;
    border-top-left-radius: 4px;
}
.form-heading__item {
    flex: 1;
    color: var(--primary-color);
    text-align: center;
    padding: 8px 0;
    border-radius: 24px;
    font-size: 18px;
}
.form-heading__item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.form-heading__item.active {
    background-color: var(--primary-color);
    color: #fff;
}
.form {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 50px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}
.form-login .form-group {
    display: flex;
    align-items: center;
}
.form-group {
    width: 100%; 
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
}
.form-icon {
    padding: 4px;
    border-bottom: 2px solid #ccc;
}
.form-icon img {
    width: 20px;
    cursor: pointer;
    display: none;
}
.form-icon .active {
    display: block;
}
.form-message {
    color: #f33a58;
    font-size: 14px;
}
.form-forget-pass {
    color: var(--primary-color);
    font-size: 14px;
    margin-top: 20px;
    align-self: center;
}
.form-btn {
    align-self: center;
    width: 200px;
    padding: 8px 0;
    margin-top: 10px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: var(--primary-color);
}
.form-btn:hover {
    background-color: rgba(66, 194, 255, 0.7);
}

/* account banner */
.account-banner {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 440px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(to right, #74ebd5, #acb6e5);
}
.account-banner__img {
    width: 80%;
    align-self: center;
}
.account-banner__desc {
    padding: 20px 40px;
}
.account-banner__heading {

}
.account-banner__details {

}
