@import "header.css";
@import "banner.css";
@import "footer.css";
@import "tourPlace.css";

.content {
    padding: 40px;
    background-color: #f1f1f1;
}
.proposals {
    height: 100%;
}
.proposals__title {
    font-size: 20px;
    margin-bottom: 10px;
}
.proposals__place {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.proposals__place:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.proposals__img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
}
.proposals__info {
    margin-left: 10px;
}
.proposals__name {
    font-size: 16px;
}
.proposals__desc {
    font-size: 13px;
}